{% extends "base.html" %}

{% block content %}
    <h2>Инструкция</h2>
    <h5>Три типа пользователей</h5>
    <ul>
        <li>Незарегистрированный</li>
        <li>Читатель</li>
        <li>Администратор</li>
    </ul>

    <h5>Незарегистрированный</h5>
    <ul>
        <li>Просмотр книг</li>
        <li>Поиск книги с фильтрацией</li>
        <li>Регистрация</li>
        <li>Авторизация</li>
    </ul>

    <h5>Читатель (login: user@user.com, pass: 123, либо любой другой)</h5>
    <ul>
        <li>Просмотр книг</li>
        <li>Поиск книги с фильтрацией</li>
        <li>Разлогиниться</li>
        <li>Получить книгу</li>
        <li>Просмотреть список книг с возможность фильтрации сданных книг</li>
    </ul>

    <h5>Администратор (login: admin@admin.com, pass: 123)</h5>
    <ul>
        <li>Просмотр книг</li>
        <li>Поиск книги с фильтрацией</li>
        <li>Разлогиниться</li>
        <li>Получить книгу</li>
        <li>Просмотреть список книг с возможность фильтрации сданных книг</li>
        <li>Добавить книгу</li>
        <li>Изменить книгу</li>
        <li>Удалить книгу</li>
        <li>Добавить читателя</li>
        <li>Изменить читателя</li>
        <li>Удалить читателя</li>
        <li>Выдать книгу отдельному пользователю</li>
        <li>Принять книгу от пользователя</li>
    </ul>

    <h5>rest-full api</h5>
    почти все страницы получали данные из api, но heroku не позволял отсылать такие запросы и пришлось переделать
    <ul>
        <li> /api/users (get, post)</li>
        <li> /api/users/< int:user_id> (get, put, delete)</li>
        <li> /api/books (get, post)</li>
        <li> /api/books/< int:book_id> (get, put, delete)</li>
        <li> /api/issue (get, post)</li>
        <li> /api/issue/< int:issue_id> (get, put, delete)</li>
    </ul>

{% endblock %}